.country {
  border: 2px solid skyblue;
  margin: 15px;
  padding: 15px;
  border-radius: 15px;
}
.img {
  width: 200px;
  height: 100px;
}
.visited {
  background-color: aqua;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  max-width: 90%;
  text-align: center;
  z-index: 1001;
}
.close-modal-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}
